@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* variables */
:root {
    --primary-bg: rgb(104, 104, 235);
    --secondary-bg: rgb(237, 237, 86);
    --txt-color: navy;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.25);
    }

    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 30px rgba(255, 255, 255, 0.25);
    }

    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.25);
    }
}


body {
    transition: 1s all ease;
}

/* Center the content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Styling for the header */
.header {
    width: 50%;
    margin: 0 auto;
    background: url(./assets/img/univ.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.header h1 {
    color: orange;
    font-family: sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.25);
    animation: pulse 1s infinite;
}

.header p {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    font-style: italic;
    /* border: 1px solid white; */
}

/* Styling for the map container */
.map-container {
    flex: 1;
    padding: 10px;
}

/* Styling for the map */
.map {
    width: 120%;
    height: 200px;
    border-radius: 7px;
    opacity: 0.7;
    margin-top: 30px;
}

/* Styling for the address and email info */
.address-info {
    text-align: center;
    padding: 10px;
    /* color: black; */
}

.address-info a i {
    color: black;
}


.address-info h4 {
    animation: pulse 1s infinite;
    font-family: sans-serif;
    color: rgb(26, 21, 21);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.25);
    font-size: 20px;
    margin-top: -5px;
}

.address-info p {
    color: lightblue;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.25);
}

/* Styling for the contact form */
.contact-form {
    text-align: center;
    padding: 10px;
}

/* Styling for form elements */
form {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    opacity: 0.8;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.9);
}

form .foryo {
    width: 100%;
}

form .foryo2 {
    width: 100%;
}

form .foryo3 {
    width: 100%;
}

form .foryo4 {
    width: 100%;
}

.contact-form .foryoo {
    animation: pulse 1s infinite;
    font-family: sans-serif;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.25);
}

.animated-border {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 1.5s ease;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 15px;
}

.animated-border:hover {
    background-color: white;
    color: #4CAF50;
    border-color: #4CAF50;
    box-shadow: 0 0 15px #4CAF50;
    transition: all 0.5s ease;
}

form h2 {
    animation: pulse 1s infinite;
    font-family: sans-serif;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.25);
}

.wp {
    color: white;
    cursor: pointer;
    font-size: 40px;
}

* {
    font-family: "Roboto", sans-serif !important;
}


